@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: rgba(0, 0, 0, 0.527);
  --fg: white;
  --fg-gray: rgb(97, 97, 97);

  --close: rgb(226, 41, 41);
  --success: rgb(82, 211, 78);
  --confirm: rgb(41, 90, 226);
  --confirm-border: rgb(63, 110, 240);

  --surface-0: #070707;
  --surface-1: #0f0f0f;
  --surface-2: #242424;

  --stroke: #242424;
  --stroke-light: #3b3b3b;

  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--fg);
}

body {
  background: var(--bg);
  user-select: none;
}

.ContextMenuContent {
  border-radius: var(--radius);
  background: var(--surface-1);
  border: 1px solid var(--stroke);
  overflow: hidden;
}
.ContextMenuItem {
  font-size: 15px;
  color: white;
  padding: 5px 20px;
  user-select: none;
  outline: none;

  &:hover {
    background: var(--surface-2);
  }
}
