.Apps {
  background: var(--surface-0);
  position: fixed;
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  padding: 1rem;
  height: 90vh;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 22rem;

  h1 {
    margin-bottom: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    isolation: isolate;

    .indicator {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 999;
      background: var(--surface-1);
      transition: all 0.25s ease;
      z-index: -1;
      border-radius: var(--radius);
      border: 1px solid var(--stroke);
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }

    .app {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      isolation: isolate;
      padding: 7px;
      cursor: pointer;
      user-select: none;
      position: relative;

      &:hover {
        .remove {
          opacity: 1;
        }
      }

      .remove {
        position: absolute;
        z-index: 99;
        background: var(--surface-1);
        border: 1px solid var(--stroke);
        border-radius: var(--radius);
        padding: 0px;
        width: 25px;
        display: grid;
        place-items: center;
        aspect-ratio: 1 / 1;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.25s ease;

        &:hover {
          background: var(--surface-2);
          border-color: var(--stroke-light);
        }
      }

      img {
        width: 5rem;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: var(--radius);
        margin-bottom: 5px;
        pointer-events: none;
      }

      p {
        max-width: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .renamer {
        background: transparent;
        border: 1px solid var(--stroke);
        border-radius: var(--radius);
        max-width: 5rem;

        &:focus {
          outline: none;
          border-color: var(--stroke-light);
        }
      }
    }
  }
}
